<!-- filepath: /Users/akram.abdelnasser/Documents/private/events_booking/app/views/events/index.html.erb -->
<div class="container mt-5">
  <h1>Events</h1>
  <%= link_to 'Create Event', new_event_path, class: 'btn btn-primary mb-3' %>

  <div class="btn-group mb-3" role="group" aria-label="Event Filters">
    <%= link_to 'Upcoming Events', events_path, class: "btn btn-secondary #{'active' if @filter.nil?}" %>
    <%= link_to 'My Created Events', events_path(filter: 'my_created_events'), class: "btn btn-secondary #{'active' if @filter == 'my_created_events'}" %>
    <%= link_to 'My Booked Events', events_path(filter: 'my_booked_events'), class: "btn btn-secondary #{'active' if @filter == 'my_booked_events'}" %>
  </div>
  <div class="row">
    <% cache @events do %>
      <%= render @events %>
    <% end %>
  </div>
  <%= paginate @events %>
</div>