<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
        <div class="form-group mb-3">
          <%= f.label :email, class: 'control-label' %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <%= render 'shared/field_errors', errors: resource.errors[:email] %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :password, class: 'control-label' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          <%= render 'shared/field_errors', errors: resource.errors[:password] %>
        </div>

        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>

        <div class="form-group mb-3">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <%= link_to "Do not have an account, sign up", new_user_registration_path %>
    </div>
  </div>
</div>